# Dependency directories
node_modules/
jspm_packages/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local database file (highly critical to ignore so users' local progress is preserved and not overwritten)
domains_db.json
!public/data/domains.json
!public/data/status.json

# Operating System Files
.DS_Store
Thumbs.db

# Log files
*.log

.idea