# Dependency directories
node_modules/
jspm_packages/
.pnpm-store/*
dist/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local scanner state
domains_db.json

# Operating System Files
.DS_Store
Thumbs.db

# Log files
*.log

.idea

.wrangler
